Django==5.0.6
django-environ
celery
redis
boto3
django-storages
ffmpeg-python
yt-dlp
replicate
openai-whisper
easyocr
Pillow
gunicorn
whitenoise
psycopg2-binary
django-htmx
django-celery-email
python-dotenv
tenacity